<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Offices</title>
</head>
<body>
<div class="info" style="text-align: center;">
	<h1 >USKT University of Sialkot Contact Information</h1>
	<h3>
Address: 1-Km، Main Daska Rd, Sialkot, Punjab<br>
Contact Number – 1: 0523575518<br>
Contact Number – 2: +92-52-3575518-21<br>
Email Address: info@uskt.edu.pk</h3>
</div>
<div class="sec-info">
	<h1>Center for Extended Learning</h1>
	<p style="font-size: 30px;">The Center for Extended Learning, University of Sialkot (USKT) has been established as a platform for
Business Executives, Managers, Professionals, and Students to enhance their skills, refresh their knowledge
and cover academic deficiencies.
</p>
<h1>Quality Enhancement Cell (QEC)</h1>
<p style="font-size: 30px;">Quality Enhancement Cell at the University of Sialkot provides an internal Quality Assurance and
enhancement mechanism of the institution.
</p>
</div>
</body>
</html>